#bottom_section{
   background-image: url(../images/bottom-img.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 
    margin-top: 20px;
}

.img-skills > img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.skills{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.main-img{
    margin-right: 200px;
    height: 100%;
}

.main-img > img{
    height: 100%;
}
.img-skills{
    display: flex;
    align-items: center;
    color: aliceblue;
    gap: 20px;
    margin-left: 200px;
    height: 100%;
    padding: 10px;
    font-size: 1.5rem;
}

footer{
    color: aliceblue;
}


@media (min-width: 300px) and (max-width:900px){
    .img-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: 0px;
}
.skills{
    justify-content:center;
   
}
    .main-img{
        height: 0px;
    }
}


